body {
    background-color: lightslategray;
}

.h1 {
    color:red;
    font-family:Helvetica;
    font-size: 27;
    font-weight: bold;
}

.p1 {
    color:purple;
}

.p2 {
    color: green;
}

#h2 {
    color: red;
    font-weight: bold;
}

li {
    color: red;
}